body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;	
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/e675c616479553.562ac79189c6f.gif);
	background-size: cover;
    background-repeat: no-repeat;
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 45px;
	width: 80vw;
	height: 10vh;
	background-color: #000000a2;
	font-size: 40px;
	text-align: center;
	font-weight: 800;
	border-radius: 50px;
	color: antiquewhite;
	border-style: dashed;
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: tan;
	border-radius: 50px;
		
}
.option{	
	padding: 60px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: rgba(0, 0, 0, 0.693);
	border-radius: 800%;
	color: antiquewhite;
	
}
.option:hover{
	background-color: rgb(6, 124, 6);
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:tan;
	border-radius: 30px 30px 60px 60px;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{
	
	background-color: #e36c11;
	border-radius: 200px;
}
.next{
	color: white;
	background-color: #e9e100c8;
	border-radius: 200px;
}